<header class="navbar">
  <div class="nav-container">
    <div class="logo" routerLink="/">
      <span class="icon">🚀</span>
      <span class="text">Stack<strong>Overflow</strong></span>
    </div>

    <div class="search-bar">
      <input type="text"
             placeholder="Caută întrebări..."
             [(ngModel)]="searchTerm"
             (ngModelChange)="onSearchChange()">
    </div>

    <ng-container *ngIf="authService.isLoggedIn$ | async; else guestActions">
      <div class="user-actions">

        <button class="btn-logout" routerLink="/profile">Profil</button>
        <button class="btn-ask" routerLink="/ask">Ask Question</button>
        <button class="btn-logout" (click)="goToMyQuestions()">Întrebările Mele</button>
        <button *ngIf="authService.isModerator()" class="btn-moderator" routerLink="/moderator">Moderator Panel</button>
        <button class="btn-logout" (click)="onLogout()">Log out</button>

        <span class="user-logged" *ngIf="authService.getCurrentUser() as user">
              <strong>{{ user.username }}</strong>
        </span>
      </div>
    </ng-container>

    <ng-template #guestActions>
      <div class="user-actions">
        <button class="btn-login" routerLink="/login">Log in</button>
        <button class="btn-register" routerLink="/register">Sign up</button>
      </div>
    </ng-template>

  </div>
</header>
